.env
node_modules
**/.DS_Store
dist/
build/
scratch/
server/uploads/*
!server/uploads/*.jpg
!server/uploads/*.png
!server/uploads/*.webp

# Local Dev/Test Scratch Files
server/deleteUser.js
server/testUser.js
server/test_email.js
server/scripts/test_*
server/scripts/verify_data.js

